{% extends "base_centered.html" %}

{% block pagecontent %}
<h1 class="text-primary fw-bold">Profile Settings</h1>
<form id="form-name" method="post">
  <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
  <div class="body d-lg-flex border-bottom">
    <label for="input-name" class="w-lg-25">Name</label>
    <div class="w-lg-100">
      <div class="input-group mb-2">
        <input id="input-name" class="form-control rounded" id="bio-text" name="name" form="profile-bio" value="{{ user.name }}">
      </div>
    </div>
  </div>
  <div class="body d-lg-flex border-bottom">
    <label for="input-country" class="w-lg-25">Name</label>
    <div class="w-lg-100">
      <input type="hidden" name="formkey" value="{{ v.formkey }}">
      <div class="input-group mb-2">
        <select id="input-country" name="country_code" class="form-control rounded">
          {% for x in ( 0 | cc) %}
          <option value="{{ x }}"{% if x==user.country_code %} selected{% endif %}>{{ x | cc}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <input class="btn btn-primary text-white" value="Save" type="submit">
</form>
{% endblock %}