{% extends "settings/base.html" %}

{% block pagecontent %}
<h1 class="h4 text-center text-primary">Security Settings</h1>
<div class="px-3 px-md-0">
  <div class="d-grid gap-3">
    <div class="pb-4 border-bottom">
      <div class="body d-md-flex">
        <label for="current-pw" class="w-25 fw-bold text-md-end pe-3">Change Password</label>
        <div class="w-100">
          <form id="change-pw-form" method="post">
            <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
            <input type="hidden" name="function" value="pw_reset">
            <label for="current-pw" class="mt-1">Current Password</label>
            <input id="current-pw" class="form-control rounded" name="password" type="password">
            <label for="otp-input" class="mt-1">Two-Factor Code</label>
            <input id="otp-input" class="form-control rounded" name="otp_code" type="text" placeholder="# # # # # #">
            <label for="new-pw" class="mt-1">New Password</label>
            <input id="new-pw" class="form-control rounded" name="new_pw" type="password">
            <label for="confirm-pw" class="mt-1">Confirm Password</label>
            <input id="confirm-pw" class="form-control rounded" name="confirm_pw" type="password">
          </form>
        </div>
      </div>
      <div class="text-end">
        <a role="button" class="toast-form-submit btn btn-primary text-white w-25 mt-3" data-form="change-pw-form">Change Password</a>
      </div>
    </div>
    <div class="pb-4 border-bottom">
      <div class="body d-md-flex">
        <label for="current-pw" class="w-25 fw-bold text-md-end pe-3">Reset Two-Factor</label>
        <div class="w-100">
          <form id="change-pw-form" method="post">
            <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
            <input type="hidden" name="function" value="otp_reset">
            <label for="current-pw" class="mt-1">Password</label>
            <input id="current-pw" class="form-control rounded" name="password" type="password">
            <label for="otp-input" class="mt-1">Two-Factor Code</label> <span class="text-small">(or 25-character Two-Factor Recovery Code)</span>
            <input id="otp-input" class="form-control rounded" name="otp_code" type="text" placeholder="# # # # # #">
          </form>
        </div>
      </div>
      <div class="text-end">
        <p class="text-small text-center">After resetting your two-factor code, you will be prompted to set up a new two-factor code</p>
        <a role="button" class="toast-form-submit btn btn-primary text-white w-50 mt-3" data-form="change-pw-form">Reset 2FA</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}