{% extends "settings/base.html" %}

{% block pagecontent %}
<h1 class="h4 text-center text-primary">Sharing Settings</h1>
<div class="px-3 px-md-0">
  <div class="d-grid gap-3">
    <div class="pb-4">
      <div class="body d-md-flex">
        <label for="allow-sharing" class="w-25 fw-bold text-md-end pe-3">Allow Sharing</label>
        <div class="w-100">
          <form id="sharing-settings-form" method="post">
            <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
            <input type="hidden" name="function" value="toggle_sharing">
            {% if user.country_code=="T1" %}
            <p>Because you registered via Tor, please set a home country in your <a href="/settings/profile">profile settings</a> before enabling law enforcement sharing.</p>
            <label class="text-muted"><input type="checkbox" disabled> Allow any law enforcement agency in my country to view my Locker.</label>
            {% else %}
            <label for="allow-sharing">
              <input id="allow-sharing" type="checkbox" name="allow_sharing" class="toast-form-submit" data-form="sharing-settings-form"{% if user.allow_leo_sharing %} checked{% endif %}> Allow any law enforcement agency in my country ({{ user.country }}) to view my Locker. ({{ user.country_code | agency_count }} agencies)</label>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div class="body d-md-flex">
        <label for="input-country" class="w-25 fw-bold my-auto text-md-end pe-3">Find Agencies</label>
        <div class="w-100">
          <form action="/search_agencies" method="get">
            <select id="input-country" name="cc" class="form-control rounded" form="profile-settings-form">
              {% for x in ( 0 | CC ) if x!="T1" or x==user.country_code%}
              <option value="{{ x }}"{% if x==user.country_code %} selected{% endif %}>{{ x | CC }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Find Agencies" class="btn btn-primary text-white">
          </form>
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div class="body d-md-flex">
        <label class="w-25 fw-bold text-md-end pe-3">Shared Agencies</label>
        <div class="w-100">
          <p>Your locker is currently shared with the following law enforcement agencies:</p>
          {% with listing = user.agencies %}
          {% include "listings/agencies.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}