{% extends "base_centered.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 my-auto p-3">
    <div id="signup-form">
      {% if error %}
      <p class="text-danger">{{ error }}</p>
      {% endif %}
      {% if e %}
      <h1 class="h2">Edit Exhibit</h1>
      <p>Revise an unsigned entry in your locker.</p>
      {% else %}
      <h1 class="h2">Create Exhibit</h1>
      <p>Add an entry to your Locker.</p>
      {% endif %}


      {% if request.args.get("error") %}
      <p class="text-danger my-4">{{ request.args.get("error") }}</p>
      {% endif %}
      <form id="exhibit-create-form" action="{{ request.path }}" method="post" class="m-1">

        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">

        <label for="input-title" class="mt-3 fw-bold">Title</label>
        <input class="form-control" id="input-title" aria-describedby="usernameHelpRegister" type="text" name="title" value="{{ e.title if e else title }}" required>

        <label for="input-body" class="mt-3 fw-bold">Text</label>
        <textarea id="input-body" form="exhibit-create-form" name="body" class="form-control w-100" rows=5>{{ e.text_raw if e else body }}</textarea>

        <div class="custom-control custom-checkbox mt-4 d-flex">
          <input type="checkbox" class="custom-control-input m-1" id="oathcheck" name="oath_perjury" value="true">
          <label class="custom-control-label" for="oathcheck">I swear, under penalty of perjury, that to the best of my current knowledge, the foregoing statement is true.</label>
        </div>

        <div id="sig-section" class="p-2 border rounded text-muted">

          <p class="fw-bold text-small">This section is a legally binding e-signature. You will not be able to edit this exhibit after you sign it.</p>

          <label for="input-password" class="mt-3">Password</label>
          <input class="form-control signature-field" id="input-password" type="password" name="password" disabled>

          <label for="2fa_input">Two-Factor Code</label>
          <input type="text" class="form-control mb-2 signature-field" id="2fa_input" name="otp_code" placeholder="# # # # # #" disabled>
        </div>

        <input id="savebutton" class="btn btn-primary text-white w-100 my-3" value="Save" type="submit"></input>

      </form>
    </div>
  </div>
</div>
{% endblock %}
