{% extends "base_centered.html" %}

{% block rightsidebar %}
<div id="exhibit-infocard" class="card border rounded d-none d-lg-block">
  <div class="card-title bg-primary">
    <p class="fw-bold text-white"><i class="fas fa-circle-info"></i> Exhibit Information</p>
  </div>
  <div class="card-body">
    <p><i class="fas fa-pen" data-toggle="tooltop" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-pen-to-square" data-toggle="tooltop" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.signed_utc %}
      <p><i class="fas fa-signature text-success" data-toggle="tooltop" data-placement="top" title="Exhibit signed"></i> <span class="text-small">{{ e.signed_string }}</span></p>
    {% else %}
      <p><i class="fas fa-signature text-danger"></i> <span class="text-small">not signed</span></p>
      <div class="ml-auto">
        {% if e.author==user %}
        <a class="btn btn-primary text-white" role="button" href="/edit_exhibit/{{ e.b36id }}">Edit</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pagecontent %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded">
  <div class="card-title"><h1 class="h3 text-primary">{{ e.title }}</h1></div>
  <div class="card-body">
    {{ e.text_html | safe }}
  </div>
  <div class="card-footer d-lg-none">
    <p><i class="fas fa-pen" data-toggle="tooltop" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-pen-to-square" data-toggle="tooltop" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.signed_utc %}
      <p><i class="fas fa-signature text-success" data-toggle="tooltop" data-placement="top" title="Exhibit signed"></i> <span class="text-small">{{ e.signed_string }}</span></p>
    {% else %}
      <p><i class="fas fa-signature text-danger"></i> <span class="text-small">not signed</span></p>
      <div class="ml-auto">
        {% if e.author==user %}
        <a class="btn btn-primary text-white" role="button" href="/edit_exhibit/{{ e.b36id }}">Edit</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}