{% extends "base_centered.html" %}

{% block title %}TEL - {{ target_user.username }} exhibits{% endblock %}

{% block pagecontent %}
<h1>{{ target_user.username }}'s Locker</h1>
{% for e in exhibits %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded mb-3 avoid-pagebreak">
  <div class="card-title"><h1 class="h3 text-primary px-3 py-2">{{ e.title }}</h1></div>
  <div class="card-body">

    {% if e.image_sha256 %}
    <img id="img-toggle-display" src="{{ e.pic_permalink }}" class="mw-100 mb-3">
    {% endif %}
    <div>
    {{ e.text_html | safe }}
    </div>
  </div>

  <div class="card-footer">
    <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.signed_utc %}
      <p><i class="fas fa-fw fa-signature-lock text-success" data-toggle="tooltip" data-placement="bottom" title="Exhibit signed"></i> <span class="text-small"><a href="{{ e.sig_permalink }}" target="_blank">{{ e.signed_string }}</a></span></p>
    {% endif %}

  </div>
</div>
{% endfor %}
{% endblock %}



{% block footer_text %}
<div class="border-top">
  <p class="justify-content-center"><i>End of Locker Content</i></p>

  {% if "exhibit_verification" not in request.path %}
  <p class="justify-content-center">The contents of this document may be verified against live EvidenceLocker data at the following link:</p>

  <img class="mw-100 mx-auto" src="{{ verification_link | full_link | qrcode_img_data }}">
  <p class="text-small justify-content-center">{{ verification_link | full_link }}</p>
  {% endif %}
</div>
{% endblock %}