{% extends "base_centered.html" %}

{% block title %}TEL - {{ target_user.username }} exhibits{% endblock %}

{% block pagecontent %}
<h1>{{ target_user.username }}'s Locker</h1>
<h2 class="h3">{{ target_user.name }}</h2>
{% for e in exhibits %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded mb-3 avoid-pagebreak">
  <div class="card-title"><h1 class="h3 text-primary px-3 py-2">{{ e.title }}</h1></div>
  <div class="card-body">

    {% if e.image_sha256 %}
    <img id="img-toggle-display" src="{{ e.pic_permalink }}{% if user==None %}?token={{ e.pic_permalink | path_token }}{% endif %}" class="mw-100 mb-3">
    {% endif %}
    <div>
    {{ e.text_html | safe }}
    </div>
  </div>

  <div class="card-footer">
    <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.signed_utc %}
      <p><i class="fas fa-fw {% if e.sig_valid %}fa-signature-lock text-success{% else %}fa-signature-slash text-danger{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Exhibit signed"></i> <span class="text-small"><a href="{{ e.sig_permalink }}{% if user==None %}?token={{ e.sig_permalink | path_token }}{% endif %}" target="_blank">{{ e.signed_string }}</a></span></p>
    {% endif %}

  </div>
</div>
{% else %}
<div class="text-center">
  <p>Your signed locker entries will appear here. You don't have any yet.</p>
</div>
{% endfor %}

<div class="border-top mt-5 text-center">
  <p><i>End of Signed Locker Content</i></p>

  {% if verification_link %}
  <p>The following is a public link for this page with this exact set of exhibits, including images and signature data:</p>

  <img class="mw-100 mx-auto avoid-pagebreak" src="{{ verification_link | full_link | add_token_param | qrcode_img_data }}">
  <div class="d-flex w-75 mx-auto">
    <input id="copy-addr" readonly="readonly" value="{{ verification_link | full_link | add_token_param }}" data-clipboard-text="{{ verification_link | full_link | add_token_param }}" role="button" class="clipboard-copy form-control rounded text-center bg-white">
    <label for="copy-addr" class="input-overlay-icon" role="button">
      <i class="fas fa-copy fa-fw"></i>
    </label>
  </div>
  <script nonce="{{ g.time | nonce }}">
    window.onload=function(){window.print()}
  </script>
  {% endif %}
</div>
{% endblock %}



{% block footer_text %}{% endblock %}