{% extends "base_centered.html" %}

{% block title %}TEL - {{ e.title }}{% endblock %}

{% block rightsidebar %}
<div id="exhibit-infocard" class="card border rounded d-none d-lg-block">
  <div class="card-title bg-primary rounded-top px-2 py-1">
    <p class="fw-bold text-white m-0"><i class="fas fa-fw fa-circle-info"></i> Exhibit Information</p>
  </div>
  <div class="card-body">
    <p><i class="fas fa-fw fa-user-pen" data-toggle="tooltip" data-placement="bottom" title="Exhibit Author"></i> <span class="text-small"><a href="{{ e.author.permalink }}">{{ e.author.username }}</a></span></p>
    <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="bottom" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="bottom" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.author==user and not e.signed_utc %}
      <a class="btn btn-primary text-white" role="button" href="/edit_exhibit/{{ e.b36id }}">Edit</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pagecontent %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded">
  <div class="card-title"><h1 class="h3 text-primary px-3 py-2">{{ e.title }}</h1></div>
  <div class="card-body">

    {% if e.image_sha256 %}
    <a id="img-toggle-button" class="btn mb-3 border text-dark border-dark"><i id="img-toggle-icon" class="far fa-fw fa-image"></i></a>
    <img id="img-toggle-display" src="{{ e.pic_permalink }}" class="mw-100 d-none mb-3">
    {% endif %}
    <div>
    {{ e.text_html | safe }}
    </div>
    <div class="mt-4 border-top pt-4">
    {% if e.signed_utc %}
      <p>I swear, under penalty of perjury, that to the best of my current knowledge, the foregoing statement is true.</p>
      <p><i class="fas fa-fw fa-signature-lock text-success" data-toggle="tooltip" data-placement="bottom" title="Exhibit signed"></i> <span class="text-small"><a href="{{ e.sig_permalink }}" target="_blank">{{ e.signed_string }}</a></span></p>
    {% else %}
      <p><i class="fas fa-fw fa-signature text-danger"></i> Not signed</p>
    {% endif %}
    </div>
  </div>

  <div class="card-footer d-lg-none">
    <p><i class="fas fa-fw fa-user-pen" data-toggle="tooltip" data-placement="top" title="Exhibit Author"></i> <span class="text-small"><a href="{{ e.author.permalink }}">{{ e.author.username }}</a></span></p>
    <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
    {% if e.edited_utc %}
      <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
    {% endif %}
    {% if e.author==user and not e.signed_utc %}
      <a class="btn btn-primary text-white" role="button" href="/edit_exhibit/{{ e.b36id }}">Edit</a>
    {% endif %}
  </div>
</div>
{% endblock %}