{% extends "base_centered.html" %}

{% block title %}TEL - Signature for {{ e.title }}{% endblock %}


{% block pagecontent %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded">
  <div class="card-title"><h1 class="h3 text-primary px-3 py-2"><a href="{{ e.permalink }}">{{ e.title }}</a></h1></div>
  <div class="card-body">
    <div>
    <p>Signatures are based on the SHA-256 hash of <code>json.dumps(data, sort_keys=True).encode('utf-8')</code> where <code>data</code> is the following Python dictionary representation of the exhibit:</p>
    </div>
    <pre>{{ e.json_for_sig | pprint }}</pre>
  </div>

  <div class="card-footer">
    <p>SHA-256 captured at time of signing: <code>{{ e.signed_sha256 }}</code></p>
    <p>SHA-256 computed right now: <code>{{ e.live_sha256 }}</code></p>
    <p>{% if e.signed_sha256 == e.live_sha256 %}<i class="text-success fas fa-check"></i>{% else %}<i class="text-danger fas fa-x"></i>{% endif %}</p>
  </div>
</div>
{% endblock %}