{% extends "base.html" %}

{% block content %}
<div class="card m-0 border-0">
  <div class="splash-1"></div>
  <div class="card-body">
    <h1 class="card-title text-primary text-center fw-bold">The Evidence Locker</h1>
    <h2 class="card-subtitle text-secondary text-center pb-4">Your free resource for documenting abuse</h2>
    <p class="text-center">Are you a victim of physical, sexual, financial, or emotional abuse?</p>
    <p class="text-center">Avoid gaslighting, lies, and evidence theft. Document your experiences now.</p>
    <p class="text-center"><a href="/signup" class="btn btn-primary text-white">Get Started</a></p>
  </div>
</div>
<div class="card m-0 border-0">
  <h2 class="card-title text-muted text-center fw-bold my-3">How it works</h2>
  <div class="card-body">
    <div class="d-md-flex justify-content-center">
      <div class="col card border-0 m-0">
        <div class="card-title text-center">
          <i class="fas fa-fw fa-2x fa-pen"></i>
        </div>
        <div class="card-body">
          <p class="text-center">Tell your story. Create journal entries, and write down events as they happen.</p>
        </div>
      </div>
      <div class="col card border-0 m-0">
        <div class="card-title text-center">
          <i class="fas fa-fw fa-2x fa-lock"></i>
        </div>
        <div class="card-body">
          <p class="text-center">Sign and lock your journal entries. We'll store it in a way that meets testimony evidence requirements.</p>
        </div>
      </div>
      <div class="col card border-0 m-0">
        <div class="card-title text-center">
          <i class="fas fa-fw fa-2x fa-handcuffs"></i>
        </div>
        <div class="card-body">
          <p class="text-center">Turn it all over to the police. You won't need to rely on your memory, since you've already made your statements.</p>
        </div>
      </div>
    </div></i>
  </div>
</div>
<div class="card m-0 border-0">
  <h2 class="card-title text-muted text-center fw-bold my-3"><a href="/news">News</a></h2>
  <div class="card-body row">
    <div class="col col-md-2 col-lg-3"></div>
    <div class="col col-12 col-md-8 col-lg-6">
      {% with listing=blogs %}
      {% include "listings/blog.html" %}
      {% endwith %}
    </div>
    <div class="col col-md-2 col-lg-3"></div>
  </div>
</div>
<div class="card m-0 border-0">
  <div class="card-body">
    <p class="text-small fst-italic text-center">This website is currently under construction in my free time.</p>
  </div>
</div>
{% endblock %}
