{% extends "base.html" %}

{% block content %}
<div class="card m-0 border-0">
  <div class="splash-1"></div>
  <div class="card-body">
    <h1 class="card-title text-primary text-center fw-bold">The Evidence Locker</h1>
    <h2 class="card-subtitle text-secondary text-center pb-4">Your free resource for documenting abuse</h2>
    <p class="text-center">Are you a victim of physical, sexual, financial, or emotional abuse?</p>
    <p class="text-center">Avoid gaslighting, lies, and evidence theft. Document your experiences now.</p>
  </div>
</div>
<div class="card m-0 border-0">
  <div class="card-body">
    <h2 class="card-title text-muted text-center fw-bold">How it works</h2>

    <div class="d-flex">
      <div class="card border-0 m-0">
        <div class="card-title">
          <i class="fas fa-fw fa-pen"></i>
        </div>
        <div class="card-body">
          <p>Tell your story. Write down events as they happen.</p>
        </div>
      </div>
    </div>
    <i class="fas fa-fw fa-arrow-right"></i>
    <div class="d-flex">
      <div class="card border-0 m-0">
        <div class="card-title">
          <i class="fas fa-fw fa-lock"></i>
        </div>
        <div class="card-body">
          <p>Sign and save your journal entries.</p>
        </div>
      </div>
    </div>
    <i class="fas fa-fw fa-arrow-right"></i>
      <div class="d-flex">
      <div class="card border-0 m-0">
        <div class="card-title">
          <i class="fas fa-fw fa-handcuffs"></i>
        </div>
        <div class="card-body">
          <p>Turn it all over to the police.</p>
        </div>
      </div>
    </div></i>
  </div>
</div>
<div class="card m-0 border-0">
  <div class="card-body">
    <p class="text-small fst-italic text-center">This website is currently under construction in my free time.</p>
  </div>
</div>
{% endblock %}
