{% extends "base.html" %}

{% block content %}
<div class="card m-0 border-0">
  <div class="splash-1"></div>
  <div class="card-body">
    <h1 class="card-title text-primary text-center fw-bold">The Evidence Locker</h1>
    <h2 class="card-subtitle text-secondary text-center pb-4">Your free resource for documenting abuse</h2>
    <p class="text-center">Are you a victim of physical, sexual, financial, or emotional abuse?</p>
    <p class="text-center">Avoid gaslighting, lies, and evidence theft. Document your experiences now.</p>
  </div>
</div>
<div class="card m-0 border-0">
  <div class="card-body">
    <p class="text-small fst-italic">This website is currently under construction in my free time.</p>
  </div>
</div>
{% endblock %}
