{% extends "base_centered.html" %}

{% block title %}TEL - Lockers{% endblock %}

{% block pagecontent %}
  {% include "listings/victims.html" %}
{% endblock %}

{% block adminpanel %}
<div id="admin-card" class="card border rounded d-none d-lg-block mt-4">
  <div class="card-title bg-primary rounded-top px-2 py-1">
    <p class="fw-bold text-white m-0"><i class="fas fa-fw fa-user-shield"></i> Admin Panel</p>
  </div>
  <div class="card-body">
    {% if not target_user.banned_utc %}
      <form action="{{ target_user.permalink }}/ban">
        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
        <label for="input_ban_reason" class="fw-bold">Ban Reason</label>
        <input type="text" name="ban_reason" class="form-control">
        <input type="submit" value="Ban User" class="btn btn-danger text-white mt-2">
      </form>
    {% else %}
      <form action="{{ target_user.permalink }}/unban">
        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
        <input type="submit" value="Unban User" class="btn btn-success text-white">
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}