{% extends "base_centered.html" %}

{% block title %}TEL - Signup{% endblock %}

{% block content %}
<div class="row justify-content-center mx-0">
  <div class="col-12 col-md-6 my-auto p-3">
    <div id="signup-form">
      <h1 class="h2">Create your Locker</h1>
      <p>Begin protecting yourself today.</p>

      {% if error %}
      <p class="text-danger my-4">{{ error }}</p>
      {% endif %}
      <form action="/signup" method="post">

        <input type="hidden" name="time" value="{{ g.time }}">
        <input type="hidden" name="csrf_token" value="{{ token }}">

        <label for="username-register" class="mt-3">Username</label>
        <input class="form-control" id="username-register" type="text" name="username" pattern="[a-zA-Z0-9_]{5,25}" required>
        <p class="text-small text-muted">5 to 25 characters. May use letters, numbers, and _</p>

        <label for="email-register" class="mt-3">Email Address</label>
        <p class="d-inline-block text-small text-muted ml-1">(optional, but forgotten passwords cannot be recovered without an email address)</p>
        <input class="form-control" id="email-register" type="text" name="email">

        <label for="password-register" class="mt-3">Password</label>

        <input class="form-control" id="password-register" type="password" name="password" required>
        <p class="text-small text-muted">Minimum of 8 characters required.</p>

        <label for="password_confirm" class="mt-3">Confirm Password</label>

        <input class="form-control" id="password_confirm" type="password" name="password_confirm" required>

        <div class="custom-control custom-checkbox mt-4">
          <input type="checkbox" class="custom-control-input" id="termsCheck" name="terms_agree" value="true" required>
          <label class="custom-control-label terms" for="termsCheck">I accept the <a href="/help/terms" target="_blank">terms and conditions</a></label>
        </div>


        <div class="h-captcha" data-sitekey="{{ hcaptcha }}"></div>
        <script src="https://hcaptcha.com/1/api.js" async defer></script>

        <button class="btn btn-primary login w-100 my-3" id="register_button">Continue</button>
        <p class="text-small text-center">Already have an account? <a href="/login">Log in</a></p>

      </form>
    </div>
  </div>
</div>
{% endblock %}
