{% extends "base_centered.html" %}

{% block title %}TEL - {{ target_user.username }}{% endblock %}

{% block rightsidebar %}
<div id="page-infocard" class="card border rounded d-none d-lg-block">
  <div class="card-title bg-primary rounded-top px-2 py-1">
    <p class="fw-bold text-white m-0"><i class="fas fa-fw fa-user"></i> {{ target_user.username }}</p>
  </div>
  <div class="card-body">
    <p><i class="fas fa-fw fa-user-plus" data-toggle="tooltip" data-placement="bottom" title="Account created"></i> <span class="text-small">{{ target_user.created_string }}</span></p>
    <p><i class="fas fa-fw fa-signature" data-toggle="tooltip" data-placement="bottom" title="Signed Exhibits"></i> <span class="text-small">{{ target_user.signed_exhibit_count }}</span></p>
    <p><i class="fas fa-fw fa-pen" data-toggle="tooltip" data-placement="bottom" title="Draft Exhibits"></i> <span class="text-small">{{ target_user.draft_exhibit_count }}</span></p>
    {% if target_user==user %}
      <a class="btn btn-primary text-white" role="button" href="/settings/profile">Settings</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block pagecontent %}
  {% with listing=target_user.exhibits %}
    {% include "listings/entries.html" %}
  {% endwith %}
{% endblock %}

{% block adminpanel %}
<div id="admin-card" class="card border rounded d-none d-lg-block mt-4">
  <div class="card-title bg-primary rounded-top px-2 py-1">
    <p class="fw-bold text-white m-0"><i class="fas fa-fw fa-user-shield"></i> Admin Panel</p>
  </div>
  <div class="card-body">
    {% if not target_user.banned_utc %}
      <form action="{{ target_user.permalink }}/ban/1">
        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
        <label for="input_ban_reason">Ban Reason</label>
        <input type="text" name="ban_reason" class="form-control">
        <input type="submit" value="Ban User" class="btn btn-danger text-white">
      </form>
    {% else %}
      <form action="{{ target_user.permalink }}/ban/0">
        <input type="hidden" name="csrf_token" value="{{ user.csrf_token }}">
        <input type="submit" value="Unban User" class="btn btn-success text-white">
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}