{% extends "base_centered.html" %}

{% block pagecontent %}
<div class="col border-1 rounded">
  {% for e in target_user.exhibits %}
  <div class="{% if not loop.first %}border-top{% endif %}">
    <div class="card border">
      <div class="card-title px-3 py-2"><h1 class="h3 text-primary"><a href="{{ e.permalink }}">{{ e.title }}</a></h1></div>
      <div class="card-body py-0">
        {% if e.signed_utc %}
          <p><i class="fas fa-fw fa-file-signature text-success" data-toggle="tooltip" data-placement="bottom" title="Exhibit signed"></i> <span class="text-small">{{ e.signed_string }}</span></p>
        {% else %}
          <p><i class="fas fa-fw fa-file-signature text-danger"></i> <span class="text-small">not signed</span></p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}