// Colors
$primary: 		#195c80;
$secondary: 	#1a2d65;
$dark:        #f8f9fa;
$light:       #343a40;
$black:       #ffffff;
$white:       #000000;
$body-color:        #d4d9dd;


// Bootstrap and its default variables
@import "evidencelocker/assets/bootstrap/scss/bootstrap";

@import "evidencelocker/assets/style/core"
