<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" href="https://theevidencelocker.org/assets/style/light.css">
  </head>
  <body>
    <span class="preheader">{{ preheader }}</span>

    <nav class="navbar navbar-expand-md navbar-light bg-light px-2 px-md-5">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="https://theevidencelocker.org">The Evidence Locker</a>
      </div>
    </nav>

    <div class="row">
      <div class="col col-md-2 col-lg-3 col-xl-4"></div>
      <div class="col col-12 col-md-8 col-lg-6 col-xl-4">

        <div class="card">
          <div class="card-title text-center h3">{% block title %}{% endblock %}</div>
          <div class="card-body">
            {% block body %}
              {% filter markdown %}
              {{ body }}
              {% endfilter %}
            {% endblock %}
          </div>
          {% if link_url and link_text %}
          <div class="card-body text-center">
            <a href="{{ link_url | full_link }}" class="btn btn-primary text-white" role="button">{{ link_text }}</a>
            </a>
          </div>
          {% endif %}
          <div class="card-footer bg-white mt-3 mx-3">
            <p class="text-center text-small">&copy; 2022 The Evidence Locker</p>
          </div>
        </div>
      </div>
      <div class="col col-md-2 col-lg-3 col-xl-4"></div>
    </div>

  </body>
</html>
